<div class="container">
  <h3>Megadriver</h3>
  <ul>
    <li>Before the game start every player picks one of the driver as their <strong>megadriver</strong>. <em>Decide together if it should be allowed to pick the same megadriver or not</em></li>
    <li><strong>Important:</strong> You are not allowed to pick any of the drivers that are currently top two in the driver standing as megagriver</li>
    <li>In Q3, apart from the normal betting you will also bet on the position your megadriver will finish. <strong>This is the only bet in the competition that is driver specific</strong></li>
    <li>Decide together before the race if you want to have a <strong>backup megadriver</strong>, and in that case which driver that will be. It should be a driver that is likely to make it to Q3. If a player's choosen megadriver is out before Q3, he/she can use the backup one</li>
    <li>If you manage to guess the correct position of your megadriver, you can pass <strong>FIVE</strong> additional shots to the person to the right of you</li>
    <li>If you happen to be so good so you don't have five shots left to pass. Sorry, you'll just pass as many as you have left</li>
  </ul>
  <p><em>Psst, make the game more fun and <%= link_to 'print', print_path, class: "black-link"%> out pictures of the megadivers. 📷</em></p>
</div>
