<div class="container">
  <h3>Mirroring</h3>
  <p>If you are correct on all five bets in Q1 or Q2 you can <strong>mirror</strong> one shot.</p>
  <p>To mirror a shot mean you can give back one of the shots you got form the player to the left of you. Up to you to decide which shot it should be.</p>
</div>
