<div class="container">
  <h3>Who sits where</h3>
  <p>The seeting is very important as you pass and will be passed shots form the players next to you. Therefore, draw lots to decide who sist where. And make sure each player knows who to pass shots to and be passed shots from before the game starts.</p>
</div>
