<div class="navbar-space">
</div>
<div class="container mt-2">
  <h1 class="mb-4">The Founders</h1>
  <div class="row">
    <div class="founder-card col-12 col-md-6">
        <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.6435-9/52991436_10155970977136825_7643756809974448128_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=5gVqNrh4uAAAX-xnZZO&_nc_ht=scontent-arn2-1.xx&oh=00_AfCycCltRwwUpVg0GtDouNBfpDuPYX6HOsnLZRnY1isAxg&oe=643FA02F", class= "avatar-large", crop: :fill, alt= "Michelle">
        <div class="founder-info">
          <h3>Michelle Lacombe</h3>
          <p><em>Founder of F1 Shot Race</em></p>
        </div>
      </div>
      <hr>
      <div class="founder-card col-12 col-md-6">
        <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.18172-1/905413_10152880087322814_479612391_o.jpg?stp=c0.16.200.200a_dst-jpg_p200x200&_nc_cat=103&ccb=1-7&_nc_sid=7206a8&_nc_ohc=u4sgUqlZw60AX-h1ZoC&_nc_oc=AQl6l5sZp70Sl1rqJpMLKGICfK_JiOcJmCcx0vFCTyewoTdzsCpRQTrMjghpOKKHcJW2T9ZDrW8qMQUXmZM5Ysgl&_nc_ht=scontent-arn2-1.xx&oh=00_AfAJalj0llCFAqCMmaF2ujRRw7H5ELpCsBwizT243S8T3A&oe=643F8F2C", class= "avatar-large", crop: :fill, alt= "Stina">
        <div class="founder-info">
          <h3>Stina Nilsson Helander</h3>
          <p><em>Founder of F1 Shot Race</em></p>
        </div>
      </div>
      <hr>
      <div class="founder-card col-12 col-md-6">
        <img src="https://scontent-arn2-2.xx.fbcdn.net/v/t1.18169-9/155771_10151548041677279_2027989454_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=bVf1D3nmPRcAX-lk8sY&_nc_ht=scontent-arn2-2.xx&oh=00_AfD4LplTQyXzVwZrH6REKSXK6Ok8m4h-QkuSkOAJzAU9pQ&oe=643FAF8E", class= "avatar-large", crop: :fill, alt= "Niklas">
        <div class="founder-info">
          <h3>Niclas Westerlund</h3>
          <p><em>Founder of F1 Shot Race</em></p>
        </div>
      </div>
      <hr>
      <div class="founder-card col-12 col-md-6">
        <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.6435-1/105427204_10164127208605554_34862610413776893_n.jpg?stp=dst-jpg_p200x200&_nc_cat=107&ccb=1-7&_nc_sid=7206a8&_nc_ohc=1K7afvAbd2UAX-5dD0V&_nc_ht=scontent-arn2-1.xx&oh=00_AfBLapymtoP0LWn8DhM1qz2I7la4uVgi_8loqLXJtSSHgg&oe=643F9C50", class= "avatar-large", crop: :fill, alt= "Anders">
        <div class="founder-info">
          <h3>Anders Pettersson</h3>
          <p><em>Founder of F1 Shot Race</em></p>
        </div>
      </div>
      <hr>
      <div class="founder-card col-12 col-md-6">
        <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t39.30808-1/336776698_899036181429845_9220507667554050339_n.jpg?stp=c0.54.320.320a_dst-jpg_p320x320&_nc_cat=106&ccb=1-7&_nc_sid=7206a8&_nc_ohc=4E43tK1LLX0AX-HgmNE&_nc_ht=scontent-arn2-1.xx&oh=00_AfAVfiND_NcnILCmiYJYDVIyaQKSN-uOPmaNQmFA9wY8Lw&oe=64264E1B", class= "avatar-large", crop: :fill, alt= "Julia">
        <div class="founder-info">
          <h3>Julia Thudén</h3>
          <p><em>Founder of F1 Shot Race</em></p>
        </div>
      </div>
  </div>
</div>
