<div class="banner">
  <div class="container">
    <h1>Formula 1 Qualifying <strong>Shot Race</strong></h1>
    <p>The best drinking game you have ever played</p>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-md-2">
      <p>Introduction</p>
    </div>
    <div class="col-12 col-md-10">
      <p>In the F1 qualifying shot-race we have combined watching the best sport with a fun game. Meet up with your friends and join us in playing the best drinking game in the world.</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-md-2">
      <p>The Game</p>
    </div>
    <div class="col-12 col-md-10">
      <p>The game is simple. Each player start with 20 shots, two of each kind representing the different teams. The players uses the shots to be on what they think the result of the qualification will be. The player who guess best wins. Simple.</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-md-2">
      <p>The Shots</p>
    </div>
    <div class="col-12 col-md-10">
      <p>Preparing the shots are of course an important part of the game. Each type of shot should represent a team, either by color or in other ways. Redbull vodka for Redbull perhaps?</p>
    </div>
  </div>

  <br>

  <div class="button-wrapper mb-2 row">
    <div class="button-div col-12 col-md-4">
      <%= link_to 'RULES', rules_path, class: "btn button-28"%>
    </div>
    <div class="button-div col-12 col-md-4">
      <%= link_to 'PRINT', print_path, class: "btn button-28"%>
    </div>
    <div class="button-div col-12 col-md-4">
      <%= link_to 'RACE INFO', raceinfo_path, class: "btn button-28"%>
    </div>
  </div>
<br>
</div>
