<div class="navbar-space">
</div>
<div class="container mt-2">
  <h1>Formula 1 Qualification Information</h1>
</div>
<%= image_tag "f1-track-curbs-1-691f51d9a78908774c07c4666007f05ea1cfc620c4944f32ea563a99a0bd74f1.jpg", class: "page-overview-img", crop: :fill, alt: "track" %>

<div class="container mt-2">
  <p>The F1 shot race is played while watching the F1 qualification. Therefore, it's ofcourse important to understand how the qulaification works. We'll give you the basics.</p>
  <p><em>You can also find more infomration on the official <a class="black-link", href="https://www.formula1.com/"> Formula 1 webpage</a>.</em></p>
  <h3>Cars and Teams</h3>
  <p>In Formula 1 there are ten teams, with two drivers each, that is competing.</p>
  <h3>Qualification basics</h3>
  <p>Qualification always takes place before a race. The qualification sets the start grid for the race (alternatively the sprint race) the day after.</p>
  <p>The qualification consist of three rounds, Q1, Q2 and Q3. During each round the cars are trying to set the fastest lap time possible. The fastest lap-time set by each car defines the result of each round.</p>
  <p>During the first two rounds, Q1 and Q2, the five slowest cars are eliminated and are not allowed to participate in the next round. The result of the last round, Q3, decides the position of the best ten cars.</p>
</div>
