<div class="navbar-space">
</div>
<div class="container mt-2">
  <h1>The Shots</h1>
</div>
  <%= image_tag "the-shots.png", class: "page-overview-img", crop: :fill, alt: "rules" %>
<div class="container mt-2">
  <p><em>Before you start preparing the shots, consider that each player will drink on average 20 shots which is a lot. We recommend to not use strong liqour. If you do, keep those shots small! The game is fun enough in itself 😎</em></p>
  <h3>What shots</h3>
  <p>To play the game you need ten different types of shots. Each type representing a team.</p>
  <p>Basic idea is to pick shots that has the same color as the team it represents. That can however be difficult as some colors are overrepresented by the teams...</p>
  <p>You can also try to make the type of shot have a connection with the team or one of the drivers.</p>
  <p>Some examples:</p>
  <ul>
    <li><em>Redbull vodka</em> for <em>Redbull</em></li>
    <li><em>Italian red wine</em> for <em>Alfa Romeo</em></li>
    <li><em>Ferarri sparking wine</em> for <em>Ferrari</em></li>
    <li><em>Sake</em> for <em>AlphaTauri (Yuki)</em></li>
  </ul>
  <p>Ses one example of a shot line-up above, and be creative! 🎨</p>

  <h3>Amount of shots</h3>
  <p>Each player will start the game with 20 shots, two of each type.</p>
  <p>So when you prepare for the shots, think two times the number of players who will participate, per type of shot.</p>
</div>
