.button-28 {
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  color: #ef0404;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  margin: 0.5em;
  min-height: 60px;
  min-width: 0;
  padding: 4px 1px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-style: italic;
  line-height: 2em;

  &:hover {
    background-color: grey;
  }
}

.button-wrapper {
  display: flex;
  justify-content: space-around;
}

.button-div {
  display: flex;
  justify-content: center;
}
