.navbar-space {
  height: 8vh;
}

.footer-space {
  height: 8vh;
}

.rule-summary {
  border: 2px solid red;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
}

body {
  min-height: 100vh;
}
