.form-dropdown {
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  margin: 0.5em;
  min-height: 60px;
  min-width: 0;
  padding: 4px 1px;
  text-align: center;
  width: 100%;
  line-height: 2em;
}
