#rules-img {
  background-image: asset-url("rules-overview.png"), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

#print-img {
  background-image: asset-url("shots-pic.png"), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

#race-img {
  background-image: asset-url("f1-banner.jpeg"), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

#rules-overview-img {
  width: 100%;
}
