.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 8vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand .navbar-logo {
  height: 30px
}

.navbar-nav {
  background-color: white;
  padding-left: 1em;
}
